node_modules/
services/ketchup/node_modules/
coverage/
.nyc_output/
package-lock.json
cypress/fixtures/
cypress/plugins/
cypress/screenshots/
cypress/support/
cypress/videos/
dist/
sslcert/
facebook/
session/
.idea/
.DS_Store
