node_modules/
coverage/
.nyc_output/
package-lock.json
services/gui/cypress/fixtures/
services/gui/cypress/plugins/
services/gui/cypress/screenshots/
services/gui/cypress/videos/
dist/
services/gui/sslcert/
services/gui/facebook/
services/gui/session/
.idea/
.DS_Store
